:root {
  --color-primary-cyan: hsl(179, 62%, 43%);
  --color-primary-yellow: hsl(71, 73%, 54%);
  --color-neutral-lightgrey: hsl(204, 43%, 93%);
  --color-neutral-greyishblue: hsl(218, 22%, 67%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral-lightgrey);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
  border-radius: 10px;
}

.button {
  display: block;
  text-align: center;
  margin: 30px;
}

a:hover {
  background-color: hsl(71, 77%, 44%);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  padding: 15px 90px;
  background-color: var(--color-primary-yellow);
  font-weight: 700;
  border-radius: 7px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.section-top {
  background-color: white;
  padding-top: 1px;
  padding-left: 25px;
  border-radius: 10px 10px 0px 0px;
}

.header-top {
  color: var(--color-primary-cyan);
}

.subheader-top {
  color: var(--color-primary-yellow);
}

.description-top {
  color: var(--color-neutral-greyishblue);
  font-weight: 400;
  padding-right: 10px;
  padding-bottom: 35px;
}

.section-left {
  background-color: var(--color-primary-cyan);
  padding-bottom: 10px;
  padding-top: 20px;
}

.section-left header {
  color: white;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 1.2rem;
}

.cost {
  color: white;
  padding-left: 25px;
  font-size: 2rem;
}

.cost-side {
  color: var(--color-neutral-lightgrey);
  opacity: 0.5;
  padding-left: 5px;
  font-weight: 400;
}

.description-bottom {
  color: white;
  padding-top: 10px;
  padding-left: 25px;
  font-weight: 400;
}

.section-right {
  background-color: var(--color-primary-cyan);
  opacity: 0.75;
  padding-bottom: 10px;
  border-radius: 0px 0px 10px 10px;
  padding-top: 20px;
}

.section-right header {
  color: white;
  padding-left: 25px;
  padding-top: 20px;
  font-size: 1.2rem;
}

ul {
  padding: 0;
}

.list li {
  color: var(--color-neutral-lightgrey);
  list-style-type: none;
  padding-left: 25px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 800px;
  }
  .section-top {
    grid-column: 1 / 3;
  }
  .section-right {
    border-radius: 0px 0px 10px 0px;
  }
  .section-left {
    border-radius: 0px 0px 0px 10px;
  }
}
